<!-- <nav class="d-flex navbar navbar-light bg-white justify-content-between pr-2 pl-2 align-middle">
    <a class="navbar-brand" routerLink="">
        <i class="fa fa-home primary" style="font-size:2em; margin-left:10px;" aria-hidden="true"></i>
    </a>
    
</nav> -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <a class="navbar-brand" routerLink="">
            <i class="fa fa-home primary" style="font-size:2em; margin-left:10px;" aria-hidden="true"></i>
        </a>
    </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <ul class=" d-flex justify-content-around flex-wrap align-center mt-3" style="list-style-type:none; margin-right:10px; font-size: 1.2em;">
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Packages</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Offers</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Contact Us</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Currency ($)</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Language (EN)</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Sign In</a></li>
        <li class="m-2"><a class="text-dark text-decoration-none"routerLink="">Sign Up</a></li>
    </ul>
      </div>
    </div>
  </nav>